// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Include Functions
@import "../../node_modules/bootstrap/scss/functions";
//@import "../../node_modules/@fontsource/poppins"; // Defaults to weight 400
@import "../../node_modules/@fontsource/poppins/400.css"; // Defaults to weight 400
@import "../../node_modules/@fontsource/poppins/400-italic.css"; // Defaults to weight 400

// Customize Defaults
$body-color: #333;
$body-bg: #F5F0F0;
$border-radius: .4rem;
$success: #7952b3;

// Required
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";

@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
// @import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar"; // Requires nav
@import "../../node_modules/bootstrap/scss/card";
// @import "../../node_modules/bootstrap/scss/breadcrumb";
// @import "../../node_modules/bootstrap/scss/accordion";
// @import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/alert";
// @import "../../node_modules/bootstrap/scss/progress";
// @import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/modal"; // Requires transitions
// @import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/popover";
// @import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/spinners";
// @import "../../node_modules/bootstrap/scss/offcanvas"; // Requires transitions
// @import "../../node_modules/bootstrap/scss/placeholders";

// Helpers
// @import "../../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../../node_modules/bootstrap/scss/utilities/api";

button {
  text-align: center;
}

#info {
  position: relative;
  margin-top: 5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #F5F0F0 !important;
  overflow-y: visible;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* chat box section */
.chat-box {
  width: 100%;
  min-height: 75vh;
  max-height: 75vh;
  padding-top: 5px;
  border-radius: 10px;
  overflow-y: scroll;
  scroll-behavior: auto;
  position: relative;
}

/* about client */
.client {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 80px;
  background-color: #77b3d4;
  padding: 15px;
}

.client-info {
  color: #fff;
  padding: 15px;
}

.client-info p {
  color: #008000;
  font-weight: bold;
  font-size: 0.8em;
}

/* chat section */
.chats {
  width: 100%;
  padding: 0 15px;
  /*color: #fff;*/
  position: relative;
  font-size: 0.9em;
}

.client-chat {
  width: fit-content;
  word-wrap: break-word;
  background: rgba(249, 245, 245, 0.45);
  backdrop-filter: blur(7.4px);
  padding: 7px 10px;
  border-radius: 10px 10px 10px 0;
  margin: 10px 0;
}

.client-chat table,
.client-chat table thead,
.client-chat table tbody,
.client-chat table tr {
  border: 1px solid grey;
}


.client-chat-subheading {
  font-size: small;
  width: fit-content;
  margin-top: 8px;
  margin-bottom: -8px;
  font-weight: 600;
}

.user-chat {
  width: 75%;
  word-wrap: break-word;
  background-color: #e4d9d9;
  padding: 7px 10px;
  border-radius: 10px 10px 0 10px;
  margin: 5px 0 5px auto;
}

.userInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 0.9em;
}

.card-float {
  /*
  height: 300px !important;
  */
  max-height: 50vh;
  position: absolute !important;
  overflow-y: scroll !important;
  width: fit-content;
  max-width: 350px !important;
}

.rounded-btn {
  border-radius: 25px !important;
}

#nav-style {
  border-radius: 25px;
  background-color: #E6E6E6 !important;
  width: fit-content;
}

#chat-log {
  z-index: 10;
  background: rgba(249, 245, 245, 0.39);
  min-height: 100vh;
  backdrop-filter: blur(7.4px);
}

#body-container {
  visibility: hidden;
}

#onboarding-container {
  visibility: visible;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50vw;
}

#chatHome-container {
  visibility: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#web-view {
  position: absolute;
  margin-top: 7%;
}

#userPromptField {
  border-radius: 25px;
}

#input-group-icon {
  border-radius: 25px;
}

.progressBar-body {
  font-size: small !important;
  font-weight: 400 !important;
}


.topLeft-ellipse {
  position: fixed;
  /* 34px diff/width>*/
  width: 300px;
  height: 266px;
  top: 0vh;
  left: 0vw;
}

.bottomLeft-ellipse {
  position: fixed;
  /* 30px dif/height>*/
  width: 150px;
  height: 180px;
  top: 66vh;
  left: 0vw;
}

.bottomRight-ellipse {
  position: fixed;
  /* 470 × 392 px, 78px dif/height>
  */
  width: 400px;
  height: 322px;
  top: 62vh;
  right: 0vw;
}

.bottomCenter-ellipse {
  /*816 × 408 px*/
  position: fixed;
  width: 766px;
  height: 358px; 
  bottom: 0vh;
  left: 25vw;
  z-index: -2;
}

.card-group {
  display: flex;
  flex-flow: column wrap !important;
}

.card-group-container {
  position: absolute;
  visibility: hidden;
  overflow-y: scroll;
  height: 90vh;
  top: 10vh;
}
